<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Wallet</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLinkActive="active"  aria-current="page" routerLink="/">Home</a>
        <a *ngIf="!isLoginUser()" class="nav-link" routerLinkActive="active"  routerLink="/login">Login</a>
        <a *ngIf="!isLoginUser()" class="nav-link" routerLinkActive="active"  routerLink="/register">Register</a>
      </div>
    </div>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a *ngIf="isLoginUser()" (click)="logout()" class="navbar-brand" routerLink="/login">logout</a>
       <a *ngIf="isAdmin()" routerLinkActive="active" class="navbar-brand" href="/admin/transactions">transactions</a>
    </nav>
  </div>  

  </div>
</nav>