    
<main class="form-signin"  id="form-container">

  <form class="form align-items-center" #f="ngForm"  (ngSubmit)="f.form.valid && onSubmit(f.value)">
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
 
 <div *ngIf="inValidLogin" class="alert alert-denger"> Invalid username and/or password </div>

    <label for="inputEmail" class="visually-hidden">Email address</label>
    <input 
       type="email"
       ngModel 
       name="email" 
       id="inputEmail" 
       #email=ngModel 
       (change)="log(email)" 
       class="form-control" 
       placeholder="Email address" 
       required 
       autofocus
    >
     <div class="alert alert-denger" *ngIf="email.touched && !email.valid">Email is required</div>

    <label for="inputPassword" class="visually-hidden">Password</label>
    <input 
       type="password"  
       ngModel 
       name="password" 
       #password=ngModel 
       id="inputPassword" 
       class="form-control" 
       placeholder="Password" 
       required
       >
    <div class="alert alert-denger" *ngIf="password.touched && !password.valid">password is required</div>
    <div class="checkbox mb-3">

     
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>