.home{
    margin: 0px 0px 0px 0px;
    width: 100%;
    min-height: 600px;
    height: auto;
    /* border: 1px solid red; */
}

#appname{
  color:green;
  height: 75px;
  /* border: 1px solid red; */
  /* border-top: 200px; */
}
/* #text{
    margin-top: 39px;
} */
#statement{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: green;
    width: 60%;
    margin: auto;
    margin-top: 50%x;
}